nav {
  margin-top: 1rem;
  line-height: $line-height-bigger;
  ul {
    li {
      a {
        text-decoration: none;
        border: solid .1rem;
        border-radius: .5rem;
        padding: 0 .2rem;
      }
    }
  }
}
