/* to be written */

$base-font-family:    'Open Sans', sans;
$base-font-size:      1rem;                   // should be 16px
$font-size-bigger:    1.375rem;               // should be 22px
$line-height-base:    1.5;
$line-height-bigger:  2;

$color1:            rgb(103, 83, 108);      // Thisle (pale rose) 
$color1-dark:       darken($color1, 30);
$color1-darker:     darken($color1, 50);
$color1-light:      lighten($color1, 20);

$color2:            rgb(238, 215, 244);     // Charade (grayish)
$color2-dark:       darken($color2, 30);
$color2-darker:     darken($color2, 50);
$color2-light:      lighten($color2, 20);

$color3:            rgb(0, 0, 0);           // Gray (text)
$color3-light:      lighten($color3, 20);

$max-width-lg:      960px;


/*
  ********************

     OTHER MIXINS

  ********************
*/

@mixin nolist() {
  padding-left: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}

