/////////////////////
//                 //
// Main stylesheet //
//                 //
/////////////////////

@import 'normalize';
@import 'variables';
@import 'fonts';
@import 'text';
@import 'audio';
@import 'live';
@import 'menu';

html,
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  @media (min-width: 960px) {
    max-width: $max-width-lg;
  }

  @media (max-width: 960px) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.text-container {
  margin: 0 auto;
  max-width: 700px;
}

a {
  outline: none;
  text-decoration: none;
}

.banner {
  background-color: $color1;
  display: flex;
  justify-content: center;
  min-height: 5em;

  a {
    align-self: center;
    color: $color2;
  }

  a:hover {
    color: $color2-light;
  }

  div {
    display: flex;
    flex-grow: 1;
  }

  h1 {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    order: 1;
  }

  h2 {
    display: flex;
  }

  ul {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    list-style: none;

    li {
      align-self: center;
      margin-left: 1em;
    }
  }
}

main {
  flex-grow: 1;
  margin: 0 auto;
  padding: 1em;
  width: 90%;
}

.home {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  grid-template-columns: auto;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1.6em;

    a::before {
      content: '';
      display: inline-block;
      height: 0;
      padding-bottom: calc(100% / 1);
      width: 1px;
    }
  }

  @media (min-width: 960px) {
    grid-gap: 2em;
    padding: 2.3em;
  }

  a {
    align-items: center;
    background-color: $color1;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    min-height: 5em;

    h2 {
      color: $color2;
      display: inline-block;
    }

  }

  a:hover {
    background-color: lighten($color1, 20);

    h2 {
      color: lighten($color2, 20);
    }

  }

  @media (min-width: 960px) {
    max-width: $max-width-lg;
  }
}

.page {
  color: $color3-light;

  article {
    font-size: $font-size-bigger;
  }

  a {
    color: $color2-dark;
  }

  a:hover {
    color: $color2;
    text-decoration: underline;
  }

  a:visited {
    color: $color1;
  }
}

.nolist {
  @include nolist();
  margin: 0;
}
